<div class="Confirmation">
    <div class="container">
        <div class="confirmation-title">
            <h6 class="subscribe">Subscribe</h6>
        </div>
        <div class="confirmation-card">
            <div class="succes-card">
                <i class="fa-solid checkicons fa-square-check" style="color: #2e65f3; "></i>
                <div class="text-center">
                    <h6 class="congrats">Congratulations</h6>
                    <span class="success-message">Your Subcription was successfull.</span>
                </div>
            </div>
        </div>
    </div>
</div>


<script>
    // Wait for 3 seconds and then redirect
    setTimeout(function() {
        window.location.href = '/Identity/Account/Login';
    }, 2000); // 3000 milliseconds = 3 seconds
</script>
