@{
    ViewData["Title"] = "Home Page";
}

<!-- Hero Section Start -->
<section class="main-hero container">
    <main>
        <div class="row">
            <div class="col-6">
                <div class="hero-content d-flex flex-column  justify-content-center" data-aos="fade-right" data-aos-delay="30"
                     data-aos-duration="1000"
                     data-aos-easing="ease-in-out">
                    <div class="content-inner-div">
                        <h1 class="text-white  fw-bold">Welcome to Kids Health Manager!</h1>
                        <p class=" fw-bold mt-3">
                            Easily manage your child’s health records in one place from anywhere.
                            From vaccination schedules to doctor visits, keep track of all important child’s health information securely and conveniently.
                        </p>
                    </div>

                </div>

            </div>
            <div class="col-6 hero-img-main-div d-flex  justify-content-end" data-aos="fade-left" data-aos-delay="50"
                 data-aos-duration="300"
                 data-aos-easing="ease-in-out">
                <img src="~/assets/img/childrenimg.png" class="img-fluid">
            </div>
        </div>
        <!-- Shaper divider code -->
        <div class="custom-shape-divider-top-1721024036">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
            </svg>
        </div>
        <div class="custom-shape-divider-bottom-1721031857">
            <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
                <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
                <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
                <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
            </svg>
        </div>
    </main>
</section>
<section class="container">
    <div class="second-section">
    </div>
</section>
        </div>

<!-- Main Section End -->
<!-- Our Mision section -->
<section class="our-mission container mb-4 pe-0 ps-0">

    <h1> <svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M19 21l-7-5-7 5V5a2 2 0 0 1 2-2h10a2 2 0 0 1 2 2z"></path></svg> Our Mission</h1>
    <div class='our-mission-clipath'>
        <div class="our-mission-content d-flex align-items-center justify-content-center align-items-center">
            <p>
                &nbsp;We’re passionate about children’s health and well-being.  Our journey began with a simple goal to create a seamless platform where parents can manage their children’s healthcare records effortlessly.
                We understand challenges parents face, and we’re here to make their lives easier.
            </p>
        </div>
    </div>

</section>

<!-- Our Mission Section End -->
<!-- Cards Section Start -->
<section class="cards-section container mb-5 pb-md-5">
    <div class="row" data-aos="fade-up">
        <div class="col-md-4 mb-4 mb-md-0">
            <div class="register-card-content d-flex flex-column gap-3 justify-content-center align-items-center">
                <svg viewBox="0 0 640 512" fill="currentColor" xmlns="http://www.w3.org/2000/svg"
                     aria-hidden="true">
                    <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zm89.6 32h-16.7c-22.2 10.2-46.9 16-72.9 16s-50.6-5.8-72.9-16h-16.7C60.2 288 0 348.2 0 422.4V464c0 26.5 21.5 48 48 48h274.9c-2.4-6.8-3.4-14-2.6-21.3l6.8-60.9 1.2-11.1 7.9-7.9 77.3-77.3c-24.5-27.7-60-45.5-99.9-45.5zm45.3 145.3l-6.8 61c-1.1 10.2 7.5 18.8 17.6 17.6l60.9-6.8 137.9-137.9-71.7-71.7-137.9 137.8zM633 268.9L595.1 231c-9.3-9.3-24.5-9.3-33.8 0l-37.8 37.8-4.1 4.1 71.8 71.7 41.8-41.8c9.3-9.4 9.3-24.5 0-33.9z"></path>
                </svg>
                <h3>Register Easily</h3>
                <p class="text-center">Sign up hassle-free and start managing your child’s health data within minutes</p>
            </div>
        </div>
        <div class="col-md-4 mb-4 mb-md-0 ">
            <div class="register-card-content connect-content d-flex flex-column gap-3 justify-content-center align-items-center">
                <svg viewBox="0 0 576 512" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M550.5 241l-50.089-86.786c1.071-2.142 1.875-4.553 1.875-7.232 0-8.036-6.696-14.733-14.732-15.001l-55.447-95.893c.536-1.607 1.071-3.214 1.071-4.821 0-8.571-6.964-15.268-15.268-15.268-4.821 0-8.839 2.143-11.786 5.625H299.518C296.839 18.143 292.821 16 288 16s-8.839 2.143-11.518 5.625H170.411C167.464 18.143 163.447 16 158.625 16c-8.303 0-15.268 6.696-15.268 15.268 0 1.607.536 3.482 1.072 4.821l-55.983 97.233c-5.356 2.41-9.107 7.5-9.107 13.661 0 .535.268 1.071.268 1.607l-53.304 92.143c-7.232 1.339-12.59 7.5-12.59 15 0 7.232 5.089 13.393 12.054 15l55.179 95.358c-.536 1.607-.804 2.946-.804 4.821 0 7.232 5.089 13.393 12.054 14.732l51.697 89.732c-.536 1.607-1.071 3.482-1.071 5.357 0 8.571 6.964 15.268 15.268 15.268 4.821 0 8.839-2.143 11.518-5.357h106.875C279.161 493.857 283.447 496 288 496s8.839-2.143 11.518-5.357h107.143c2.678 2.946 6.696 4.821 10.982 4.821 8.571 0 15.268-6.964 15.268-15.268 0-1.607-.267-2.946-.803-4.285l51.697-90.268c6.964-1.339 12.054-7.5 12.054-14.732 0-1.607-.268-3.214-.804-4.821l54.911-95.358c6.964-1.339 12.322-7.5 12.322-15-.002-7.232-5.092-13.393-11.788-14.732zM153.535 450.732l-43.66-75.803h43.66v75.803zm0-83.839h-43.66c-.268-1.071-.804-2.142-1.339-3.214l44.999-47.41v50.624zm0-62.411l-50.357 53.304c-1.339-.536-2.679-1.34-4.018-1.607L43.447 259.75c.535-1.339.535-2.679.535-4.018s0-2.41-.268-3.482l51.965-90c2.679-.268 5.357-1.072 7.768-2.679l50.089 51.965v92.946zm0-102.322l-45.803-47.41c1.339-2.143 2.143-4.821 2.143-7.767 0-.268-.268-.804-.268-1.072l43.928-15.804v72.053zm0-80.625l-43.66 15.804 43.66-75.536v59.732zm326.519 39.108l.804 1.339L445.5 329.125l-63.75-67.232 98.036-101.518.268.268zM291.75 355.107l11.518 11.786H280.5l11.25-11.786zm-.268-11.25l-83.303-85.446 79.553-84.375 83.036 87.589-79.286 82.232zm5.357 5.893l79.286-82.232 67.5 71.25-5.892 28.125H313.714l-16.875-17.143zM410.411 44.393c1.071.536 2.142 1.072 3.482 1.34l57.857 100.714v.536c0 2.946.803 5.624 2.143 7.767L376.393 256l-83.035-87.589L410.411 44.393zm-9.107-2.143L287.732 162.518l-57.054-60.268 166.339-60h4.287zm-123.483 0c2.678 2.678 6.16 4.285 10.179 4.285s7.5-1.607 10.179-4.285h75L224.786 95.821 173.893 42.25h103.928zm-116.249 5.625l1.071-2.142a33.834 33.834 0 0 0 2.679-.804l51.161 53.84-54.911 19.821V47.875zm0 79.286l60.803-21.964 59.732 63.214-79.553 84.107-40.982-42.053v-83.304zm0 92.678L198 257.607l-36.428 38.304v-76.072zm0 87.858l42.053-44.464 82.768 85.982-17.143 17.678H161.572v-59.196zm6.964 162.053c-1.607-1.607-3.482-2.678-5.893-3.482l-1.071-1.607v-89.732h99.91l-91.607 94.821h-1.339zm129.911 0c-2.679-2.41-6.428-4.285-10.447-4.285s-7.767 1.875-10.447 4.285h-96.429l91.607-94.821h38.304l91.607 94.821H298.447zm120-11.786l-4.286 7.5c-1.339.268-2.41.803-3.482 1.339l-89.196-91.875h114.376l-17.412 83.036zm12.856-22.232l12.858-60.803h21.964l-34.822 60.803zm34.822-68.839h-20.357l4.553-21.16 17.143 18.214c-.535.803-1.071 1.874-1.339 2.946zm66.161-107.411l-55.447 96.697c-1.339.535-2.679 1.071-4.018 1.874l-20.625-21.964 34.554-163.928 45.803 79.286c-.267 1.339-.803 2.678-.803 4.285 0 1.339.268 2.411.536 3.75z"></path></svg>
                <h3>Connect with Providers</h3>
                <p class="text-center">Communicate directly with medical professionals and consultants</p>
            </div>
        </div>
        <div class="col-md-4 ">
            <div class="register-card-content privacy-content d-flex flex-column gap-3 justify-content-center align-items-center">
                <svg viewBox="0 0 8 8" fill="currentColor" xmlns="http://www.w3.org/2000/svg" aria-hidden="true"><path d="M3 0c-.55 0-1 .45-1 1s.45 1 1 1 1-.45 1-1-.45-1-1-1zm-1.5 2.5c-.83 0-1.5.67-1.5 1.5h1c0-.28.22-.5.5-.5s.5.22.5.5-1 1.64-1 2.5c0 .86.67 1.5 1.5 1.5s1.5-.67 1.5-1.5h-1c0 .28-.22.5-.5.5s-.5-.22-.5-.5c0-.36 1-1.84 1-2.5 0-.81-.67-1.5-1.5-1.5z" transform="translate(2)"></path></svg>
                <h3>Ensure Privacy</h3>
                <p class="text-center">Rest assured that your child’s information is safe and confidential</p>
            </div>
        </div>
    </div>
</section>
<!-- Cards Section End -->
<!-- NewsLetter Section Start -->
<div class="newsletter-section py-5   ">
    <div class="container">
        <div data-aos="zoom-in">
            <div class="content gap-4  w-md-50 m-auto d-flex flex-column justify-content-center align-items-center ">
                <h2>
                    Subscribe For Newsletter</h1>
                    <p>To receive the latest updates and health tips straight in your inbox about the best practices for managing your children’s health records.</p>
            </div>
            <div class=" newsletter-div d-md-flex gap-2 my-3">
                <input type="text" class="form-control" placeholder="Email Address" aria-label="Email Address">
                <div class="subscribe-button d-flex justify-content-center align-items-center">
                    <button type="button">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- News Letter Section End -->
<!-- Accordion Section Start -->
<section class="accordion py-md-5 py-0">
    <div class="container my-5 ">
        <div class="row pb-md-5 pb-0">
            <div class="col-md-6 accordion-col" data-aos="fade-right" data-aos-delay="30"
                 data-aos-duration="500"
                 data-aos-easing="ease-in-out">
                <h2 class="accordion-heading">What You Can Do using ChildRecords.care?</h2>
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button fw-bolder collapsed gap-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                <span class="accordion-icon"></span> <span class="accordion-ques ">Personal Child Health Record (PCHR)</span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Your child’s PCHR, also known as the “red book,” is a vital resource. We digitize this essential document, making it accessible anytime, anywhere.</li>
                                    <li>Keep track of immunizations, growth charts, health reviews, and developmental milestones—all in one place.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingTwo">
                            <button class="accordion-button fw-bolder collapsed gap-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                <span class="accordion-icon"></span> <span class="accordion-ques">Say Goodbye to Paper Clutter</span>
                            </button>
                        </h2>
                        <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Say goodbye to paper clutter! Our platform securely stores your child’s health data in the cloud.</li>
                                    <li>Access immunization records, growth trends, and health assessments effortlessly.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingThree">
                            <button class="accordion-button fw-bolder collapsed gap-4" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                <span class="accordion-icon"></span> <span class="accordion-ques">Growth Tracking Made Easy</span>
                            </button>
                        </h2>
                        <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <ul>
                                    <li>Interactive charts help you monitor your child’s weight and height. Spot trends and celebrate milestones.</li>
                                    <li>Capture precious moments with a secure photographic record of your child’s progress.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 mt-5 mt-md-0 img-container d-flex align-items-center justify-content-center h-auto">
                <img src="~/assets/img/wave.PNG" alt="Children" data-aos="zoom-in" class="img-fluid ">

            </div>
        </div>
    </div>
</section>

<!-- Accordion Section End -->
<!-- Powered By line section Start -->
 

<!-- Powered By Line section End -->
