 
<div class="pricing-card">
    <div class="container">
        <div class="price-Heading">
            <h6 class="priceSubscribe">Subscribe</h6>
        </div>
        <div class="price-subHeading">
            <h6 class="paySubscription">Pay for the  Subscription  plan  to add new personal </h6>
        </div>
        <div class="PriceCard">
            <div class="firstCard">
                <div class="Card_heading">
                    <div class="trial">    <span> <b>Free Trial</b></span></div>
                    <div class="select-checkbox">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                        </div>
                    </div>

                </div>
                <div class="free-trail">
                    <p class="month-trail">1 Month Free Trial</p>
                </div>
                <div class="accessability-section">

                    <span class="accessibility"> <i class="fa-solid checkicon fa-square-check" style="color: #2e65f3;"></i> Accessibility</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Add Child</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Easy to use</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Reminder</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Medical History</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Premium Support</span>

                </div>
                <div class="cardLast-btn">
                    <button class="proced"> <a href="/Home/Confirmation" class="proceed-a">Proceed</a></button>
                </div>
            </div>
            <div class="firstCard">
                <div class="Card_heading">
                    <div class="trial">    <span><b>Monthly Plan </b> </span></div>
                    <div class="select-checkbox">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                        </div>
                    </div>

                </div>
                <div class="free-trail">
                    <p class="month-trail">$ 15.99 / <span class="monthly">monthly</span></p>
                </div>
                <div class="additionla-text">
                    <p>Gain Unlimited access to all the content  we  have to  to offer !</p>
                </div>
                <div class="accessability-section">

                    <span class="accessibility"> <i class="fa-solid checkicon fa-square-check" style="color: #2e65f3;"></i> Accessibility</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Add Child</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Easy to use</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Reminder</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Medical History</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Premium Support</span>

                </div>
                <div class="cardLast-btn">
                    <button class="proced" disabled> <a href="#" class="proceed-a">Proceed</a></button>
                </div>
            </div>
            <div class="firstCard">
                <div class="Card_heading">
                    <div class="trial">    <span><b>Yearly Plan</b>  </span></div>
                    <div class="select-checkbox">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="" id="flexCheckDefault">

                        </div>
                    </div>

                </div>
                <div class="free-trail">
                    <p class="month-trail">$ 180 <span class="monthly">monthly</span></p>
                </div>
                <div class="additionla-text">
                    <p>Gain Unlimited access to all the content  we  have to  to offer !</p>
                </div>
                <div class="accessability-section">

                    <span class="accessibility"> <i class="fa-solid checkicon fa-square-check" style="color: #2e65f3;"></i> Accessibility</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Add Child</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Easy to use</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Reminder</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Medical History</span>
                    <span class="accessibility"> <i class="fa-solid  checkicon fa-square-check" style="color: #2e65f3;"></i> Premium Support</span>

                </div>
                <div class="cardLast-btn">
                    <button class="proced" disabled> <a href="#" class="proceed-a">Proceed</a></button>
                </div>
            </div>
        </div>
    </div>
</div>
 

 