<!-- Profile Section  Start -->
<section class="account-section">
    <div class="container mt-3">
        <div class="card account-card w-75 m-auto mb-4">
            <div class="profile-header">
                
                <img src="~/assets/img/famm.jpg" class="profile-background" alt="Profile Background">
                <i class="bi bi-pencil-square banner-icon"></i>
                <div class="profile-image-div">
                    <img src="~/assets/img/profile.jpg" class="profile-picture" alt="Profile Picture">
                    <div>
                       
                        <i class="bi bi-pencil-square "></i>
                    </div>
                </div>
            </div>
            <div class="card-body account-card-body d-flex flex-column text-black ">
                <div class="profile-content ps-4 ms-2 ">
                    <h5 class="card-title mt-5 fs-4 mb-0 fw-bold">Petter D.</h5>
                    <p class="card-text fw-medium">petter@domainname.com</p>
                </div>

            </div>
        </div>
    </div>
    <!-- Edit Aaccount Section Start -->
    <div class="container ">
        <div class="w-75 m-auto">
            <h5>Your Account</h5>
            <div class="edit-account p-3 ">
                <div class="account-item d-flex justify-content-between">
                    <div class="edit-prfole d-flex gap-3 pb-4">
                        <span class="account-item-icon">
                            <i class="bi bi-person-circle fs-4"></i>
                        </span>
                        <span class="d-flex align-items-center fw-semibold">Edit Profile</span>
                    </div>
                    <div>
                        <i class="bi bi-chevron-right fw-bold fs-4 text-black"></i>
                    </div>
                </div>

                <div class="account-item d-flex justify-content-between">
                    <div class="edit-prfole d-flex gap-3 pb-4">
                        <span class="account-item-icon">
                            <i class="bi bi-person-circle fs-4"></i>
                        </span>
                        <span class="d-flex align-items-center fw-semibold">Subscription</span>
                    </div>
                    <div>
                        <i class="bi bi-chevron-right fw-bold fs-4 text-black"></i>
                    </div>
                </div>

                <div class="account-item d-flex justify-content-between">
                    <div class="edit-prfole d-flex gap-3 pb-2">
                        <span class="account-item-icon">
                            <i class="bi bi-phone fs-4"></i>
                        </span>
                        <span class="d-flex align-items-center fw-semibold">About</span>
                    </div>
                    <div>
                        <i class="bi bi-chevron-right fw-bold fs-4 text-black"></i>
                    </div>


                </div>
            </div>
        </div>

    </div>
</section>